<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid md-4">
    <a class="navbar-brand" ><h4 class="navbarFirmName" routerLink="/cars">Serpil's Rental Cars</h4></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active navbarMenus" aria-current="page" routerLink="/cars" >Home</a>
        <a class="nav-link navbarMenus">Contact</a>
        <a class="nav-link navbarMenus">About Us</a>
      </div>
    </div>

    <div class="row float-end col-md-2">
      <div class="col-md">
        <button *ngIf="!isAuthenticated()" type="button" class="btn userStateButtons" routerLink="login" >Sign In</button>
      </div>
      <div class="col-md">
        <button *ngIf="!isAuthenticated()" type="button" class="btn userStateButtons" routerLink="register" >Sign Up</button>
      </div>


      <div class="btn-group" style="margin-left: -15px" *ngIf="isAuthenticated()">
        <button class="userNameButton btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{userInfo.userName}}
        </button>
        <ul class="dropdown-menu w-100 text-center" >

          <li class="btn dropdown-item" (click)="goToAdminEdit()" > Edit Profile </li>
          <li class="btn dropdown-item" (click)="logout()"> Log Out </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
