<table class="table ">
  <thead class="table-success">
    <tr>
      <th>Brands</th>
    </tr>
  </thead>
  <tr>
    <ul class="list-group">
      <li 
  (click)="clearCurrentBrand()" 
  routerLink="/cars"
  [class]="getAllBrandClass()" >All Brands</li>
  <li      
  (click)="setCurrentBrand(brand)"
  *ngFor="let brand of brands"
      routerLink="/cars/brands/{{brand.brandId}}"
        [class]="getCurrentBrandClass(brand)">
        {{ brand.brandId }}--{{ brand.brandName }}
      </li>   
     </ul>
    </tr>
  </table>
 
<h5 *ngIf="currentBrand">{{currentBrand.brandName}} seçtiniz</h5>
