<table class="table ">
  <thead class="table-success">
    <tr>
      <th>Brands</th>
    </tr>
  </thead>
  <tr>
    <ul class="list-group">
      <li 
  (click)="setDeletedCurrentBrand()" 
  routerLink="/cars"
  [class]="getAllBrandClass()" >All Brands</li>
  <li      
      routerLink="/cars/brands/{{brand.id}}"
        *ngFor="let brand of brands"
        (click)="setCurrentBrand(brand)"
        [class]="getCurrentBrandClass(brand)">
        {{ brand.name }}
      </li>   
     </ul>
    </tr>
  </table>
 
<h5 *ngIf="currentBrand">{{currentBrand.name}} seçtiniz</h5>
