merhaba
<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-6">
      <app-brand></app-brand>
    </div>
    <div class="col-md-6"><app-color></app-color></div>
  </div>
  <div class="row">
    <div class="col-md-6"><app-customer></app-customer></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-rental-detail-dto></app-rental-detail-dto>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-car-detail-dto></app-car-detail-dto>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
