<div class="w-75 m-auto my-5">
    <form [formGroup]="editCarForm" *ngIf="car">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="brandID" class="fontInfo">Brand</label>
          <div class="form-group">
            <select class="form-select fontInfo inputSize" formControlName="brandId" id='brandID'>
              <option [ngValue]='brand.brandId' *ngFor="let brand of brands"> {{brand.brandName}} </option>
            </select>
          </div>
        </div>
  
        <div class="mb-3 col-md-6">
          <label for="colorID" class="fontInfo">Color</label>
          <div class="form-group">
            <select class="form-select fontInfo inputSize" formControlName="colorID" id='colorID'>
              <option [ngValue]='color.colorId' *ngFor="let color of colors"> {{color.colorName}} </option>
            </select>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="dailyPrice" class="fontInfo">Daily Price</label>
          <div class="form-group">
            <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control fontInfo inputSize w-100">
          </div>
        </div>
        <div class="mb-3 col-md-6">
          <label for="modelYear" class="fontInfo">Model Year</label>
          <div class="form-group">
            <input type="number" id="modelYear" formControlName="modelYear" class="form-control fontInfo inputSize">
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="mb-3 col">
          <label for="description" class="fontInfo">Description</label>
          <div class="form-group">
            <input type="text" id="description" formControlName="description" class="form-control fontInfo inputSize w-100">
          </div>
        </div>
      </div>
      <div class="row">
        <button (click)="edit()" class="btn carEditButton fontInfo  m-auto w-50 mt-3">Edit</button>
      </div>
  
    </form>
  </div>
  