<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h5 class="title">Add Color</h5></div>
        <div class="card-body">
          <form [formGroup]="colorAddForm">
              <div class="form-group">
                <label for="colorName" class="col-sm-2 col-form-label col-form-label-sm">Color Name</label>
               <input type="text"
                id="colorName" 
               formControlName="colorName"
               class="form-control"
               placeholder="Color Name"/>
              </div>
              <br>
              <button style="float:right" type="button" (click)= "addColor()" class="btn 
              btn-outline-dark">Add Color</button>
          </form>
        </div>
      </div>
    </div>